<template>
  <v-app-bar pr app>
    <div class="d-flex align-center" style="height: 100%">
      <v-img
        max-height="128"
        width="100%"
        src="https://picsum.photos/id/11/500/300"
      />
      <BaseParagraph class="ml-4" v-text="'Title'" />
    </div>
    <v-spacer />
    <div class="d-flex">
      <v-btn :color="pageColor('Market')" class="mr-3" :to="{ name: 'Market' }">
        Boutique
      </v-btn>
      <v-btn :color="pageColor('Admin')" class="mr-3" :to="{ name: 'Admin' }">
        Admin
      </v-btn>
    </div>
  </v-app-bar>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
import { useRoute } from "vue-router";

export default defineComponent({
  name: "TheHeader",
  setup() {
    const route = useRoute();
    const pageColor = (pageName: string) => {
      return route.name == pageName ? "secondary" : "tertiary";
    };
    return {
      route,
      pageColor
    };
  }
});
</script>

<style scoped>
::v-deep .v-btn {
  list-style-type: none;
  text-decoration: none;
  color: white;
}
</style>
