<template>
  <v-app>
    <TheHeader />

    <v-main>
      <v-container fluid>
        <router-view />
      </v-container>
    </v-main>

    <TheFooter app />
  </v-app>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import { useStore } from "@/plugins/store";
import TheHeader from "@/components/Layout/TheHeader.vue";
import TheFooter from "@/components/Layout/TheFooter.vue";

export default defineComponent({
  name: "App",
  components: {
    TheHeader,
    TheFooter,
  },
  setup() {
    const store = useStore();
    const sidebarStatus = computed(() => store.state.core.sidebarStatus);
    const toggleSidebarStatus = () => {
      store.commit("core/setSidebarStatus", !sidebarStatus.value);
    };
    return {
      sidebarStatus,
      toggleSidebarStatus,
    };
  },
});
</script>
